.game {
  display: grid;
  width: 100%;
  max-width: 1920px;
  grid-template-columns: 20fr 60fr 20fr;
  grid-gap: 2px;
  overflow: hidden;
  position: relative;

  @media screen and(max-width: 1920px) {
    grid-template-columns: 20fr 60fr 20fr;
    margin: 48px 0 0 0;
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .left-side {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
    margin: 0 14px 0 0px;

    @media screen and(max-width: 900px) {
      display: none;
    }


  }

  .main-game {
    position: relative;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-inline: 10px;
    padding-top: 10px;
    border-left: 1px solid $color-1;
    border-right: 1px solid $color-1;

    .thread-container {
    }

    .game-header {
      margin: 0 auto 12px;
      text-align: center;

      .connection-form {
        background: $color-4;
        border-radius: 20px;
        padding: 20px;

        ul {
          display: inline;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: .2s;
            margin: 0 8px;
          }

          .active-btn {
            background: $color-1;

            &:hover {
              background: $color-2;
            }
          }

          li:not(.active-btn) {
            &:hover {
              transform: translateX(3px)
            }
          }
        }

        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            font-family: $font-2;
            border-radius: 20px;

            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }

          input[type=submit] {
            padding: 14px 14px;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .right-side {
    position: relative;
    width: 100%;
    margin: 0 0 0 14px;
    grid-column-start: 3;
    grid-column-end: 3;

    @media screen and(max-width: 990px) {
      display: none;
    }

    .right-side-container {
      position: fixed;

    }
  }
}
