.page-nav-container {
  position: relative;
  align-content: center;
  margin-top: 3px;

  @media screen and(max-width: 1900px) {
    margin-left: 10%;
    min-width: 200px;
  }

  @media screen and(max-width: 700px) {
    min-width: 200px;
  }

  @media screen and(max-width: 400px) {
    min-width: 150px;
  }

  @media screen and(max-width: 330px) {
    min-width: 120px;
    margin-left: -3%;
  }

  .icons {
    position: relative;
    z-index: 10;
    width: 100%;
    align-content: center;

    @media screen and(max-width: 700px) {
      margin: 2px 0 0 2px;
    }

    .icons-bis {
      position: relative;
      flex-direction: row;
      align-content: center;


      a {
        transition: 0.1s;
        display: inline-block;
        align-content: center;
        padding-left: 20px;

        &:before {
          transition: .15s ease;
          transform: scale(0);
          transform-origin: center;
          z-index: -10;
          content: "";
          height: 45px;
          width: 45px;
          position: absolute;
          background: $color-4;
          border-radius: 20%;
        }

        &:hover {
          transform: scale(1.02);
        }

        &:hover::before {
          transform: scale(1);
          @media screen and(max-width: 590px) {
            background: $color-1;
            height: 34px;
            width: 34px;
          }
        }

        img {
          @media screen and(max-width: 590px) {
            height: 34px;
            width: 34px;
          }
        }
      }

      .active-page-nav {
        position: relative;

        &::after {
          content: "";
          height: 40px;
          width: 5px;
          position: absolute;
          background: $color-1;
          margin-left: 20px;
          left: -7px;
          bottom: 8px;
          border-radius: 5px;
          transform: scaleY(0);
          animation: scale 0.5s ease forwards;

          @keyframes scale {
            to {
              transform: scaleY(1);
            }
          }
          @media screen and(max-width: 590px) {
            height: 33px;
            left: -8px;
          }
        }
      }
    }
  }
}
